.places {
    height: 340px;
    background-color: #333333 ;
    width: 100%;
    
    &__dots {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    &__method {
        display: flex;
        list-style-type: none;
        justify-content: center;
        margin-top: 110px;
    }
}
.dots {
    &__img {
        margin-top: 45px;
        height: 65px;
        width: 695px;
        position: absolute;
        
    }
}
.point {
    display: flex;
    flex-direction: column;
    align-items: center;


    &__imgs {
        height: 60px;
        width: 60px;
    }
    &__topic {
        color: white;
        font-size: 32px;
        font-family: "Aleo_regular"; 
        
    }
}
.method {
    &__point:not(:last-child,:first-child) {
        margin-left: 23px;
    }
    &__point:first-child {
        position: absolute;
        left: 300px;
    }  
    &__point:last-child {
        position: absolute;
        left: 1040px;

    }

}
@media screen and (max-width:1280px) {
    .method {
        &__point:first-child {
            left: 170px;
        }  
        &__point:last-child {
            position: absolute;
            left: 910px;
    
        }
}
}
@media screen and (max-width:1024px) {
    .method {
        &__point:first-child {
            left: 55px;
        }  
        &__point:last-child {
            position: absolute;
            left: 790px;
    
        }
}
}
@media screen and (max-width:960px) {
    .method {
        &__point:first-child {
            left: 30px;
        }  
        &__point:last-child {
            position: absolute;
            left: 745px;
    
        }
}
}
@media screen and (max-width:640px) {
    .places{
        height: 200px;
        &__dots {
            display: none;
        }
        &__method {
            margin-top: -50px;
            align-items: center;
        }
    }
    .point {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        &__imgs {
            height: 50px;
            width: 50px;
        }
        &__topic {
            font-size: 20px;
        }
    }
    .method {
        &__point:first-child {
            left: 90px;
        }  
        &__point:last-child {
            position: absolute;
            left: 450px;
    
        }
}
}

@media screen and (max-width:320px)  {
    .places{
        height: 300px;
        &__method {
            margin-top: -50px;
            align-items: center;
        }
    }
    .point {
        display: flex;
        
        align-items: center;
        &__imgs {
            height: 40px;
            width: 40px;
        }
        &__topic {
            font-size: 15px;
        }
    }
    .method {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__point:first-child {
            margin-top: -80px;
            left: 130px;
        }  
        &__point:not(:first-child, :last-child) {
            margin-top: 120px;
        }
        &__point:last-child {
            position: absolute;
            left: 130px;
            margin-top: 300px ;
    
        }
}
}